{% extends "base_app_template.html" %}

{% block head %}
    <!-- TODO clean up the 'friends.css' file - half the stuff is duplicated anyway.. -->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}friends.css" />
{% endblock %}

{% block title %}
	Friends
{% endblock %}

{% block content %}
   <section class="data-section">
        <!--TODO show only admins and make the 'view all' button ?-->
        <ul id="people-list" class="clearfix">
           {% for person in people %}
            <a href="{% url 'public_profile' person.id %}">
                <li class="people-list-item">
                    <img src="{{ STATIC_URL }}{{ person.get_profile.avatarPath }}">
                    {{ person }}
                </li>
            </a>
            {% endfor %}
        </ul>
    </section>
{% endblock %}