{% extends "base_app_template.html" %}

{% block head %}
    <!-- TODO clean up the 'friends.css' file - half the stuff is duplicated anyway.. -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}friends.css" />
{% endblock %}

{% block title %}
    {{ request.user.username }}
{% endblock %}

{% block content %}
    <section class="clearfix">
        <div class="left-cell">
            <!-- size of img should fit to size of div (with test)-->
            <div id="login-img-div">
                <img id="login-img" src="{{ STATIC_URL }}stub_imgs/avatar2.jpg">
                <p>{{ user }} <br />
                {{user.email }}</p>
            </div>
            <h1>Projects</h1>
            <ul id="person-projects-list">
                <li class="person-projects-list-item">
                    Project A
                </li>
                <li class="person-projects-list-item">
                    Project B
                </li>
                <li class="person-projects-list-item">
                    Project C
                </li>
            </ul>
        </div>
            <div class="right-cell">
                <ul id="details-list">
                    <li class="details-list-item">
                        <p><b>Gender</b>
                        <br />
                        {% if user.get_profile.gender == "F" %}
                        <span class="details-info">Female</span></p>
                        {% else %}
                        <span class="details-info">Male</span></p>
                        {% endif %}
                    </li>
                    <li class="details-list-item">
                        <p><b>Birthdate</b>
                        <br />
                        <span class="details-info">{{ user.get_profile.birthdate }}</span></p>
                    </li>
                    <li class="details-list-item">
                        <p><b>Register date</b>
                        <br />
                        <span class="details-info">{{ user.get_profile.registerDate }}</span></p>
                    </li>
                    <li class="details-list-item">
                        <p><b>Modified</b>
                        <br />
                        <span class="details-info">{{ user.get_profile.modifiedDate }}</span></p>
                    </li>
                    <li class="details-list-item">
                        <p><b>Last seen</b>
                        <br />
                        <span class="details-info">{{ user.get_profile.lastLoginDate }}</span></p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="last-activities-section">
            <header>Last activities</header>
            <ul id="last-activities-list">
                <li class="last-activities-list-item">
                <span class="glyphicon glyphicon-ok"></span>
                <b>Aaa Bbb</b>
                <span class="last-activities-time">11 min ago</span>
                <p>Aaa Bbb changed task's status to 'finished'</p>
            </li>
            <li class="last-activities-list-item">
                <b>Ababab Bababa</b>
                <span class="last-activities-time">24 min ago</span>
                <p>Add 'abc' to adsad in adsdas</p>
            </li>
            </ul>
        </section>
{% endblock %}