{% extends "base_home_template.html" %}

{% block content %}
<div id="home-photo">
    <div id="home-photo-description" class="width-padding">
        <p>Plan everything. Organize.</p>
        <div id="register-button" class="pull-right">
        Get started
        </div>
    </div>
</div>

<div id="section-2" class="width-padding clearfix">
    <div class="col-md-4">
        <h2>Collaborate</h2>
        <p>Learn, share and work. Our app can make work in Your team far more organized, allowing for easier information sharing.</p>
    </div>
    <div class="col-md-4">
        <h2>Spend less time scheduling</h2>
        <p>Get organized as fast as you can think. The easy-to-use interface takes no time to learn, and every action is instantaneous, so there’s nothing standing between you and your sweet productive flow.</p>
    </div>
    <div class="col-md-4">
        <h2>Stay in control</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque fringilla suscipit orci eget dictum. Curabitur at arcu at sem mattis tempus id vitae magna. Nam ut nisi auctor, pulvinar tellus a, sagittis magna. Maecenas tempor blandit urna, in dapibus mauris gravida et.</p>
    </div>
</div>

<div id="section-3" class="width-padding clearfix">
    <h2>Take back your time. Get organized.</h2>
    <!--TODO insert screen from finished app-->
    <img src="{{ STATIC_URL }}stub_imgs/img5.png">
</div>
{% endblock %}