<!DOCTYPE html>
<html lang="en">

<head>
	<title>app</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

    <!-- Style sheets -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'tasker/login.css' %}" />
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
</head>
	
<body id="page-background">
	<div id="login-dialog" class="dialog">
		
		<header id="login-logo">
			<!--TODO better logo-->
			<span class="glyphicon glyphicon-tint"></span>
		</header>
		
		<input id="username" type="text" class="login_ctr" name="username" placeholder="username">
		<input id="password" type="text" class="login_ctr" name="password" placeholder="password">
		<p id="password-forgot" class="clearfix">forgot your password ?</p>
		<button id="login" class="login_ctr accept" name="login">
			<span class="glyphicon glyphicon-ok"></span>
		</button>
		<p id="register-hint">Not a member ? <span id="sign-up">Sign up now</span></p>
		
			<div id="register-dialog" class="dialog">
				<span id="register-close" class="glyphicon glyphicon-remove"></span>

				<header id="register-title">
				Create an account
				</header>
				<input id="register-username" type="text" class="login_ctr" name="register-username" placeholder="username">
				<input id="register-email" type="text" class="login_ctr" name="register-email" placeholder="Your email address">
				<input id="register-password" type="text" class="login_ctr" name="register-password" placeholder="password">
				<input id="register-password2" type="text" class="login_ctr" name="register-password2" placeholder="re-enter password">
				<button id="register" class="login_ctr accept" name="login">
					<span class="glyphicon glyphicon-ok"></span>
				</button>
			</div>
		
	<!--page content end-->
	</div>
	
<script>
	
$('document').ready(function(){
	$("#sign-up").click(function(e){
		$('#login-dialog').addClass('login-overlay');
		$("#register-dialog").show();
	});	
	
	$("#register-close").click(function( e){
		$('#login-dialog').removeClass('login-overlay');
		$("#register-dialog").hide();
	});
});
	
</script>
</body>

</html>