<!DOCTYPE html>
<html lang="en">

<head>
	<title>app</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

    <!-- Style sheets -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'tasker/login.css' %}" />
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
</head>
	
<body id="page-background">
	<div id="login-dialog" class="dialog">
		
		<header id="login-logo">
			<!--TODO better logo-->
			<span class="glyphicon glyphicon-tint"></span>
		</header>
		
		<form id="login_form" method="post" action="login">
			{% csrf_token %}
			<input id="username" type="text" class="login_ctr" name="username" placeholder="username" required>
			<input id="password" type="password" class="login_ctr" name="password" placeholder="password" required>
			<p id="password-forgot" class="clearfix">forgot your password ?</p>
			<button id="login" type="submit" class="login_ctr accept" name="login-submit">
				<span class="glyphicon glyphicon-ok"></span>
			</button>
		</form>
		<p id="register-hint">Not a member ? <span id="sign-up">Sign up now</span></p>
		
			<div id="register-dialog" class="dialog">
				<span id="register-close" class="glyphicon glyphicon-remove"></span>

				<header id="register-title">
				Create an account
				</header>
				<form id="register_form" method="post" action="login">
					{% csrf_token %}
					<input id="register-username" type="text" class="login_ctr" name="register-username" placeholder="username" required>
					<input id="register-email" type="email" class="login_ctr" name="register-email" placeholder="Your email address" required>
					<input id="register-password" type="password" class="login_ctr" name="register-password" placeholder="password" required>
					<input id="register-password2" type="password" class="login_ctr" name="register-password2" placeholder="re-enter password" required>
					<button id="register" type="submit" class="login_ctr accept" name="register-submit">
				</form>
					<span class="glyphicon glyphicon-ok"></span>
				</button>
			</div>
		
	<!--page content end-->
	</div>
	
<script>

$('document').ready(function(){
	$("#sign-up").click(function(e){
		$('#login-dialog').addClass('login-overlay');
		$("#register-dialog").show();
	});	
	
	$("#register-close").click(function(e){
		$('#login-dialog').removeClass('login-overlay');
		$("#register-dialog").hide();
	});

	var pass1 = $('#register-password'),
	pass2 = $('#register-password2'),
	button = $('#register'),
	check = function(){
		if (pass1.val() !== pass2.val() || pass1.val().length === 0) {
			pass1.addClass('invalid');
			pass2.addClass('invalid');
			button.attr('disabled', 'disabled');
		} else {
			pass1.removeClass('invalid');
			pass2.removeClass('invalid');
			button.removeAttr('disabled');
		}
	};
pass1.on('blur', check);
pass2.on('blur', check);
});
	
</script>
</body>

</html>