{% extends "base_app_template.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}project.css" />
    <!--https://github.com/seiyria/bootstrap-slider-->
	<!--<script src="bootstrap/js/bootstrap-slider.js" type="text/javascript"></script> -->
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-slider.js" type="text/javascript"></script>
{% endblock %}

{% block title %}
	Project A
{% endblock %}

{% block title_right %}
	<h2>80% complete</h2>
{% endblock %}

{% block page_end %}
	<script>
		$('#completion-slider').slider({
			tooltip: 'hide'			
		});
		$("#completion-slider").on('slide', function(slideEvt) {
			$("#completion-slider-val").text(slideEvt.value+"% complete");
		});
		$("#completion-slider").slider('setValue', 50);
	</script>
{% endblock %}

{% block content %}
	<section class="data-section">
		<header>Name</header>
		<input id="project-name" type="text" name="project-name" placeholder="Name..">
	</section>
	
	<section class="data-section">
		<header>Completion status</header>
		<input id="completion-slider" data-slider-id='completionSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50"/>
		<b id="completion-slider-val"></b>
	</section>
	
	<section class="data-section">
		<header>Description</header>
		<textarea id="project-note" rows="3" name="project-note" placeholder="Add description..">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, libero id adipiscing auctor, dui odio egestas urna, vel volutpat mi ipsum fringilla risus. Nullam luctus velit nunc, et tincidunt eros pulvinar sed. Fusce vulputate ultrices elementum. Donec est ante, tristique eget tempor nec, tempor sed nisl. Phasellus vitae scelerisque nibh. Phasellus lacinia pharetra porta. Sed at urna at lectus congue faucibus. Maecenas suscipit bibendum urna, quis dignissim sapien molestie in. Vestibulum ante ante, mollis id diam sed, semper varius ipsum. Suspendisse potenti. Nulla facilisi. Nam eget massa sed augue aliquet consectetur.
		</textarea>
	</section>
	
	<section class="data-section">
		<div id="view-header-right">
			<div id="task-create" class="project-button">
				<span class="glyphicon glyphicon-plus"></span>
				add new task
			</div>
		</div>
		<header class="clearfix">Tasks</header>
		<table id="tasks-table">
			<tr>
				<th class="tasks-cell tasks-col1">Active</th>
				<th class="tasks-cell tasks-col2">Title</th>
				<th class="tasks-cell tasks-col3">Assigned to</th>
				<th class="tasks-cell tasks-col4">Deadline</th>
				<th class="tasks-cell tasks-col4"></th>
			</tr>
			<tr>
				<td class="tasks-cell tasks-col1"></td>
				<td class="tasks-cell tasks-col2">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
				<td class="tasks-cell tasks-col3">Bob Barker Junior</td>
				<td class="tasks-cell tasks-col4">28-10-2152</td>
				<td class="tasks-cell tasks-col4 tasks-edit">Edit</td>
			</tr>
			<tr>
				<td class="tasks-cell tasks-col1"></td>
				<td class="tasks-cell tasks-col2">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
				<td class="tasks-cell tasks-col3">Bob Barker Junior</td>
				<td class="tasks-cell tasks-col4">28-10-2152</td>
				<td class="tasks-cell tasks-col4 tasks-edit">Edit</td>
			</tr>
			<tr>
				<td class="tasks-cell tasks-col1"></td>
				<td class="tasks-cell tasks-col2">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
				<td class="tasks-cell tasks-col3">Bob Barker Junior</td>
				<td class="tasks-cell tasks-col4">28-10-2152</td>
				<td class="tasks-cell tasks-col4 tasks-edit">Edit</td>
			</tr>
		</table>
	</section>
	
	<section class="data-section">
		<div id="view-header-right" class="clearfix">
			<div id="task-create" class="project-button">
				<span class="glyphicon glyphicon-plus"></span>
				add new person
			</div>
		</div>
		<header class="clearfix">People</header>
		<!--TODO show only admins and make the 'view all' button ?-->
		<!--TODO for each person add connection type: { admin/progr./etc}-->
		<ul id="people-list" class="clearfix">
			<li class="people-list-item">
				<p class="person-remove">
					<span class="glyphicon glyphicon-remove"></span>
				<p>
				<img src="{{ STATIC_URL }}stub_imgs/avatar2.jpg">
				Aaa bbb
			</li>
			<li class="people-list-item">
				<p class="person-remove">
					<span class="glyphicon glyphicon-remove"></span>
				<p>
				<img src="{{ STATIC_URL }}stub_imgs/avatar2.jpg">
				Aaa bbb
			</li>
			<li class="people-list-item">
				<p class="person-remove">
					<span class="glyphicon glyphicon-remove"></span>
				<p>
				<img src="{{ STATIC_URL }}stub_imgs/avatar2.jpg">
				Aaa bbb
			</li>
			<li class="people-list-item">
				<p class="person-remove">
					<span class="glyphicon glyphicon-remove"></span>
				<p>
				<img src="{{ STATIC_URL }}stub_imgs/avatar2.jpg">
				Aaa bbb
			</li>
			<li class="people-list-item">
				<p class="person-remove">
					<span class="glyphicon glyphicon-remove"></span>
				<p>
				<img src="{{ STATIC_URL }}stub_imgs/avatar2.jpg">
				Aaa bbb

			</li>
		</ul>
	</section>

	<section class="data-section">
		<header>Files</header>
		<ul id="files-list" class="clearfix">
			<li class="files-list-item" data-type="document">
				<span class="glyphicon glyphicon-file"></span>
				<b>A.docx</b>
				<p class="person-remove">
					<span class="glyphicon glyphicon-remove"></span>
				<p>
			</li>
			<li class="files-list-item" data-type="sound">
				<span class="glyphicon glyphicon-music"></span>
				<b>a.wav</b>
				<p class="person-remove">
					<span class="glyphicon glyphicon-remove"></span>
				<p>
			</li>
			<li class="files-list-item" data-type="image">
				<span class="glyphicon glyphicon-camera"></span>
				<b>a.png</b>
				<p class="person-remove">
					<span class="glyphicon glyphicon-remove"></span>
				<p>
			</li>
			<li class="files-list-item" data-type="other">
				<span class="glyphicon glyphicon-paperclip"></span>
				<b>a.zip</b>
				<p class="person-remove">
					<span class="glyphicon glyphicon-remove"></span>
				<p>
			</li>
		</ul>
	</section>


	<!--save and back buttons-->
	<div class="project-button pull-left">
		Back
	</div>
	<div class="project-button pull-right">
		Save
	</div>
{% endblock %}