{% extends "base_app_template.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}project.css" />
{% endblock %}

{% block title %}
	My projects
{% endblock %}

{% block title_right %}
	<div id="project-create">
        <span class="glyphicon glyphicon-plus"></span>
        add new project
    </div>
{% endblock %}

{% block content %}
    <ul id="projects-list" class="main-panel-content">
         {% for project in projects %}
            <a href="{% url 'project' project.id %}">
            <li class="projects-list-item">
                <h2>{{ project.name }}</h2>
                <span>{{ project.description|slice:":40" }}</span>
                <b>{{ project.complete }}% complete</b>
            </li>
        </a>
        {% endfor %}
    </ul>
{% endblock %}