{% extends "base_app_template.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}project.css" />
{% endblock %}

{% block title %}
    {{ project.name }}
        {% if can_edit %}
         <a href="{% url 'project_edit' project.id %}">
             <span id="edit-button">edit</span>
        </a>
    {% endif %}
{% endblock %}

{% block title_right %}
	<h2>{{ project.complete }}% complete</h2>
{% endblock %}

{% block content %}
	<section class="clearfix">
		<div class="read-cell">
			<!--TODO chart-->
			<h1>chart</h1>
		</div>
		<div class="read-cell">
            <!--TODO activity-list-->
			<ul id="activity-list">
				<li class="activity-list-item">
					<span class="glyphicon glyphicon-ok"></span>
					<b>80% complete</b>
					<span class="activity-time">11 min ago</span>
				</li>
				<li class="activity-list-item">
					<span class="glyphicon glyphicon-ok"></span>
					<b>80% complete</b>
					<span class="activity-time">11 min ago</span>
				</li>
				<li class="activity-list-item">
					<span class="glyphicon glyphicon-ok"></span>
					<b>80% complete</b>
					<span class="activity-time">11 min ago</span>
				</li>
				<li class="activity-list-item">
					<span class="glyphicon glyphicon-ok"></span>
					<b>80% complete</b>
					<span class="activity-time">11 min ago</span>
				</li>
			</ul>
		</div>
	</section>

	<section class="data-section">
		<header>Description</header>
		<p>{{ project.description }}</p>
	</section>

	<section class="data-section">
        <div id="view-header-right">
         <a href="{% url 'task_create' project.id %}">
            <span class="glyphicon glyphicon-plus"></span>
            add new task
        </a>
        </div>
		<header class="clearfix">Tasks</header>

		<table id="tasks-table">
			<tr>
				<th class="tasks-cell tasks-col1">Active</th>
				<th class="tasks-cell tasks-col2">Title</th>
				<th class="tasks-cell tasks-col3">Assigned to</th>
				<th class="tasks-cell tasks-col4">Deadline</th>
			</tr>

            {% for task in project.tasks %}
            <tr>
                <td class="tasks-cell tasks-col1"></td>
                <td class="tasks-cell tasks-col2">
                    <a href="{% url 'task' task.id %}"> {{ task.title }} </a>
                </td>
                <td class="tasks-cell tasks-col3">
                     <a href="{% url 'public_profile' task.personResponsible.id %}">
                        {{ task.personResponsible.name }}&nbsp;{{ task.personResponsible.lastName }}
                    </a>
                </td>
                <td class="tasks-cell tasks-col4">{{ task.deadline|date:"d-m-Y" }}</td>
            </tr>
            {% endfor %}
		</table>
	</section>

	<section class="data-section">
		<header>People</header>
		<!--TODO show only admins and make the 'view all' button ?-->
		<ul id="people-list" class="clearfix">
            {% for person in project.people %}
            <li class="people-list-item">
                <a href="{% url 'public_profile' person.id %}">
                    <img src="{{ STATIC_URL }}{{ person.avatarPath}}">
                    {{ person.name }}&nbsp;{{ person.lastName }}
                </a>
			</li>
            {% endfor %}
		</ul>
	</section>
	<section class="data-section">
		<header>Files</header>
		<ul id="files-list" class="clearfix">

            {% for file in project.files %}
            <li class="files-list-item" data-type="{{file.type|lower}}">
<!--<a href="{ { file.url }}">{{ document.docfile.name }}</a>-->
<!--http://stackoverflow.com/questions/18947539/django-file-download-->
<!--https://docs.djangoproject.com/en/dev/topics/http/file-uploads/-->

                    <!--icon-->
                    {% if file.type == "Document" %}
                        <span class="glyphicon glyphicon-file"></span>
                    {% else %}
                        {% if file.type == "Image" %}
                            <span class="glyphicon glyphicon-camera"></span>
                        {% else %}
                            {% if file.type == "Sound" %}
                                <span class="glyphicon glyphicon-music"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-paperclip"></span>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    <!--file name-->
                    <!--<b>{{ file.short_name }}</b>-->
                    <b>_{{ file.name }}_</b>

                    <!--&lt;{{ file.type }}&gt;-->

            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}