{% extends "base_app_template.html" %}

{% block head %}
    <!-- TODO clean up the 'tasks.css' file - half the stuff is duplicated anyway.. -->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tasks.css" />
{% endblock %}

{% block title %}
	{{ task.title }}
    {% if can_edit %}
         <a href="{% url 'task_edit' task.id %}">
             <span id="edit-button">edit</span>
        </a>
    {% endif %}
{% endblock %}

{% block title_right %}
	<h2>{{ task.type.1 }}</h2>
{% endblock %}

{% block content %}
	<section class="clearfix">
        <div class="left-cell">
            <h1>Description</h1>
        <p>{{ task.description }}</p>
        </div>
        <div class="right-cell">
            <ul id="details-list">
                <li class="details-list-item">
                    <p>
                        <b>Assigned to</b>
                        <br />
                        <span class="details-info">
                            {{ task.personResponsible.name|default:"Not assigned" }}&nbsp;{{ task.personResponsible.lastName }}
                        </span>
                    </p>
                </li>
                <li class="details-list-item">
                    <p><b>Deadline</b>
                    <br />
                    <span class="details-info">{{ task.deadline|date:"d-m-Y" }}</span></p>
                </li>
                <li class="details-list-item">
                    <p><b>Created by</b>
                    <br />
                    <span class="details-info">
                        {{ task.createdBy.name }}&nbsp;{{ task.createdBy.lastName }}
                    </span></p>
                </li>
                <li class="details-list-item">
                    <p><b>Creation date</b>
                    <br />
                    <span class="details-info">{{ task.created|date:"d-m-Y" }}</span></p>
                </li>
            </ul>
        </div>
    </section>

    <section class="data-section">
        <header>Files</header>
        <ul id="files-list" class="clearfix">

            {% for file in task.files %}
            <li class="files-list-item" data-type="{{file.type|lower}}">
                    <!--icon-->
                    {% if file.type == "Document" %}
                        <span class="glyphicon glyphicon-file"></span>
                    {% else %}
                        {% if file.type == "Image" %}
                            <span class="glyphicon glyphicon-camera"></span>
                        {% else %}
                            {% if file.type == "Sound" %}
                                <span class="glyphicon glyphicon-music"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-paperclip"></span>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    <!--file name-->
                    <b>_{{ file.name }}_</b>
            </li>
            {% endfor %}
        </ul>
    </section>

    <section class="comments-section">
        <header>Comments</header>
        <ul id="comments-list">

            {% for taskComment in task.comments %}
                <li class="comments-list-item">
                    <!--TODO comment icons f.e. 'ok' ?-->
                    <!--<span class="glyphicon glyphicon-ok"></span>-->
                    <b>
                        {{ taskComment.createdBy.name }}&nbsp;{{ taskComment.createdBy.lastName }}
                    </b>
                    <span class="comments-time">{{ taskComment.created|date:"d-m-Y" }}</span>
                    <p>{{ taskComment.text }}</p>
                </li>
            {% endfor %}
        </ul>
    </section>

    <!--TODO : canAddComment-->

{% endblock %}