{% extends "base_app_template.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tasks.css" />
{% endblock %}

{% block title %}
	My tasks
{% endblock %}

{% block title_right %}
	TODO add_new_tasks_button ?
{% endblock %}

{% block content %}
    <section class="data-section">
        <header>Tasks</header>
        <table id="tasks-table">
            <tr>
                <th class="tasks-cell tasks-col1">Active</th>
                <th class="tasks-cell tasks-col2">Title</th>
                <th class="tasks-cell tasks-col4">Deadline</th>
            </tr>
            <tr>
                <td class="tasks-cell tasks-col1"></td>
                <td class="tasks-cell tasks-col2">
                    <a href="{% url 'task' 123 %}">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </a>
                </td>
                <td class="tasks-cell tasks-col4">28-10-2152</td>
            </tr>
        </table>
    </section>
{% endblock %}