{% extends "base_app_template.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tasks.css" />
{% endblock %}

{% block title %}
	Task A
{% endblock %}

{% block title_right %}
	<h2>Bug</h2>
{% endblock %}

{% block content %}
    <section class="clearfix">
        <div class="left-cell">
            <section class="data-section">
                <header>Name</header>
                <input id="task-name" type="text" name="task-name" placeholder="Name..">
            </section>

            <section class="data-section">
                <header>Status</header>
                <select id="task-status">
                  <option value="fixed">Fixed</option>
                  <option value="won't-fix">Won't fix</option>
                  <option value="duplicate">Duplicate</option>
                  <option value="not-a-bug">Not a bug</option>
                </select>
            </section>

            <section class="data-section">
                <header>Deadline</header>
                <input id="task-deadline" type="date" name="task-deadline">
            </section>

            <section class="data-section">
                <header>Description</header>
                <textarea id="project-note" rows="3" name="project-note" placeholder="Add description..">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus condimentum, libero id adipiscing auctor, dui odio egestas urna, vel volutpat mi ipsum fringilla risus. Nullam luctus velit nunc, et tincidunt eros pulvinar sed. Fusce vulputate ultrices elementum. Donec est ante, tristique eget tempor nec, tempor sed nisl. Phasellus vitae scelerisque nibh. Phasellus lacinia pharetra porta. Sed at urna at lectus congue faucibus. Maecenas suscipit bibendum urna, quis dignissim sapien molestie in. Vestibulum ante ante, mollis id diam sed, semper varius ipsum. Suspendisse potenti. Nulla facilisi. Nam eget massa sed augue aliquet consectetur.
                </textarea>
            </section>
        </div>
        <div class="right-cell">
            <ul id="details-list">
                <li class="details-list-item">
                    <p><b>Assigned to</b>
                    <br />
                    <span class="details-info">Bbb Abbaab</span></p>
                </li>
                <li class="details-list-item">
                    <p><b>Deadline</b>
                    <br />
                    <span class="details-info">10-05-2014</span></p>
                </li>
                <li class="details-list-item">
                    <p><b>Created by</b>
                    <br />
                    <span class="details-info">Aaa Bbbb</span></p>
                </li>
                <li class="details-list-item">
                    <p><b>Creation date</b>
                    <br />
                    <span class="details-info">05-05-2014</span></p>
                </li>
            </ul>
        </div>
    </section>

    <section class="data-section">
        <div id="view-header-right" class="clearfix">
            <div id="assign-person" class="task-button">
                Change assignment
            </div>
        </div>
        <header class="clearfix">Assign</header>
        <!--TODO show only admins and make the 'view all' button ?-->
        <!--TODO for each person add connection type: { admin/progr./etc}-->
        <div id="assign-img-div">
            <img id="assign-img" src="{{ STATIC_URL }}stub_imgs/avatar2.jpg">
            Aaa bbb
        </div>
    </section>

    <section class="data-section">
        <header>Files</header>
        <ul id="files-list" class="clearfix">
            <li class="files-list-item" data-type="document">
                <span class="glyphicon glyphicon-file"></span>
                <b>A.docx</b>
                <p class="person-remove">
                    <span class="glyphicon glyphicon-remove"></span>
                <p>
            </li>
            <li class="files-list-item" data-type="sound">
                <span class="glyphicon glyphicon-music"></span>
                <b>a.wav</b>
                <p class="person-remove">
                    <span class="glyphicon glyphicon-remove"></span>
                <p>
            </li>
            <li class="files-list-item" data-type="image">
                <span class="glyphicon glyphicon-camera"></span>
                <b>a.png</b>
                <p class="person-remove">
                    <span class="glyphicon glyphicon-remove"></span>
                <p>
            </li>
            <li class="files-list-item" data-type="other">
                <span class="glyphicon glyphicon-paperclip"></span>
                <b>a.zip</b>
                <p class="person-remove">
                    <span class="glyphicon glyphicon-remove"></span>
                <p>
            </li>
        </ul>
    </section>

    <section class="comments-section">
        <header>Comments</header>
        <ul id="comments-list">
            <li class="comments-list-item">
                <span class="glyphicon glyphicon-ok"></span>
                <b>Aaa Bbb</b>
                <span class="comments-time">11 min ago</span>
                <p>Aaa Bbb changed task's status to 'finished'</p>
            </li>
            <li class="comments-list-item">
                <b>Ababab Bababa</b>
                <span class="comments-time">24 min ago</span>
                <p>Add 'abc' to adsad in adsdas</p>
            </li>
        </ul>
        <header>Add new comment</header>
                <textarea id="new-comment-text" rows="3" name="new-comment-text" placeholder="Add comment..">

                </textarea>
    </section>

    <!--save and back buttons-->
    <div class="task-button pull-left">
        Back
    </div>
    <div class="task-button pull-right">
        Save
    </div>
{% endblock %}