{% extends "base_app_template.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tasks.css"/>
{% endblock %}

{% block title %}
My tasks
{% endblock %}

{% block content %}
<table id="tasks-table">
    <tr>
        <th class="tasks-cell tasks-col1">Active</th>
        <th class="tasks-cell tasks-col2">Title</th>
        <th class="tasks-cell tasks-col3">Assigned to</th>
        <th class="tasks-cell tasks-col4">Deadline</th>
    </tr>

    {% for task in tasks %}
    <tr>
        <td class="tasks-cell tasks-col1"></td>
        <td class="tasks-cell tasks-col2">
            <a href="{% url 'task' task.id %}"> {{ task.title }} </a>
        </td>
        <td class="tasks-cell tasks-col3">
            {% if task.personResponsible %}
            <a href="{% url 'public_profile' task.personResponsible.id %}">
                {{ task.personResponsible.first_name|default:task.personResponsible.username }}&nbsp;{{ task.personResponsible.last_name }}
            </a>
            {% else %}
            Not assigned yet
            {% endif %}
        </td>
        <td class="tasks-cell tasks-col4">{{ task.deadline|date:"d-m-Y" }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}