{% extends "base_app_template.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tasks.css" />
{% endblock %}

{% block title %}
	{{ task.title|default:"Create new task" }}
{% endblock %}

{% block title_right %}
    {% if not new_task %}
          <h2>{{ task.type.1 }}</h2>
    {% endif %}
{% endblock %}

{% block page_end %}
    <script src="{{ STATIC_URL }}js/tasks.js" type="text/javascript"></script>

    <script language="JavaScript">
        $(document).ready(function() {

            {% if task.personResponsible %}
                $("#assign-img-div").css("display","block");
            {% endif %}

            {% if new_task %}
                $('#task-form').submit(function(event) {
                    createTask("{% url 'task_create' project_id %}");
                    event.preventDefault();
                });
            {% else %}
                $('#task-form').submit(function(event) {
                    event.preventDefault();
                    if (submitName === "Delete"){
                        deleteTask( "{% url 'user_tasks_list' 123 %}");
                    }else{
                        editTask("{% url 'task_edit' task.id %}","{% url 'task' task.id %}");
                    }
                });
            {% endif %}

        });
    </script>
{% endblock %}

{% block content %}
<form id="task-form" action="" method="post">{% csrf_token %}

    <section class="clearfix">
        <div class="left-cell">
            <section class="data-section">
                <header>Name</header>
                <input class="form-control" id="task-name" type="text" name="title" placeholder="Name.." value="{{ task.title|default:"" }}">
            </section>

            <section class="data-section">
                <header>Status</header>
                <select id="task-type" name="type">
                    {% for tT_short, tT_name in taskTypes %}

                        {% if task.type.0 == tT_short %}
                        <option value="{{ tT_short }}" selected="selected">{{ tT_name }}</option>
                        {% else %}
                        <option value="{{ tT_short }}">{{ tT_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </section>
            <br />

            <section class="data-section">
                <header>Deadline</header>
                <!--TODO datepicker - set current value-->
                <input class="form-control" id="task-deadline" type="date" name="deadline" value="{{ task.title|default:"" }}" style="max-width: 300px;">
            </section>

            <section class="data-section">
                <header>Description</header>
                <textarea class="form-control" id="project-note" rows="3" name="description" placeholder="Add description..">{{ task.description|default:"" }}</textarea>
            </section>
        </div>

        <!---->
        <!--Right panel-->
        <!---->
        {% if not new_task %}
        <div class="right-cell">
            <ul id="details-list">
               <li class="details-list-item">
                    <p><b>Created by</b>
                    <br />
                    <span class="details-info">
                        {{ task.createdBy.name }}&nbsp;{{ task.createdBy.lastName }}
                    </span></p>
                </li>
                <li class="details-list-item">
                    <p><b>Creation date</b>
                    <br />
                    <span class="details-info">{{ task.created|date:"d-m-Y" }}</span></p>
                </li>
            </ul>
        </div>
        {% endif %}
    </section>

    <!---->
    <!--Person-->
    <!---->
    <section class="data-section">
        <div id="view-header-right" class="clearfix">
            <div id="assign-person" class="task-button">
                Change assignment
            </div>
        </div>
        <header class="clearfix">Assign</header>
        <div id="assign-img-div" style="display:none" data-person-id="{{ task.personResponsible.id|default:"-1" }}">
             <p class="person-remove">
					<span class="glyphicon glyphicon-remove"></span>
				<p>
            <img id="assign-img" src="{{ STATIC_URL }}{{ task.personResponsible.avatarPath|default:"stub_imgs/avatar2.jpg" }}">
            <p id="assign-name">
        {{ task.personResponsible.name }}&nbsp;{{ task.personResponsible.lastName }}
            </p>
        </div>
    </section>

{% if not new_task %}

    <section class="data-section">
        <header>Files</header>
        <ul id="files-list" class="clearfix">

            {% for file in task.files %}
            <li class="files-list-item" data-type="{{file.type|lower}}" data-file-id="{{ file.id }}">

                <!--icon-->
                {% if file.type == "Document" %}
                    <span class="glyphicon glyphicon-file"></span>
                {% else %}
                    {% if file.type == "Image" %}
                        <span class="glyphicon glyphicon-camera"></span>
                    {% else %}
                        {% if file.type == "Sound" %}
                            <span class="glyphicon glyphicon-music"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-paperclip"></span>
                        {% endif %}
                    {% endif %}
                {% endif %}

                 <!--file name-->
                <b>_{{ file.name }}_</b>
                <p class="file-remove remove-button">
					<span class="glyphicon glyphicon-remove"></span>
				<p>
            </li>
            {% endfor %}

        </ul>
    </section>

{% endif %}

    <!--TODO task delete-->
    <!--save and back buttons-->
    {% if not new_task %} <a href="{% url 'task' task.id %}">
    {% else %} <a href="{% url 'project' project_id %}">
    {% endif %}
        <div class="task-button pull-left">
            Back
        </div>
    </a>
    <input type="submit" value="Save" class="task-button pull-right" onclick="setSubmit(this)"/>
    {% if not new_task %}
        <input type="submit" value="Delete" class="task-button pull-right" onclick="setSubmit(this)"/>
    {% endif %}

</form>

<!---->
<!--dialog-->
<!---->
<div id="assignment-dialog">
    <span id="assignment-dialog-close" class="glyphicon glyphicon-remove"></span>

    <header id="assignment-dialog-title">
    Assign to the task
    </header>
     <ul id="assignment-list" class="clearfix">
        {% for person in people_to_assign %}
        <li class="assignment-list-item" data-person-id="{{ person.id }}">
            <img src="{{ STATIC_URL }}{{ person.avatarPath}}">
            <span class="assignement-name">{{ person.name }}&nbsp;{{ person.lastName }}</span>
        </li>
        {% endfor %}
     </ul>
</div>
{% endblock %}