{% extends "base_app_template.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tasks.css" />
{% endblock %}

{% block title %}
	{{ task.title|default:"Create new task" }}
{% endblock %}

{% block title_right %}
    {% if not new_project %}
          <h2>{{ task.type.1 }}</h2>
    {% endif %}
{% endblock %}

{% block content %}

    <section class="clearfix">
        <div class="left-cell">
            <section class="data-section">
                <header>Name</header>
                <input id="task-name" type="text" name="task-name" placeholder="Name.." value="{{ task.title|default:"" }}">
            </section>

            <section class="data-section">
                <header>Status</header>
                <select id="task-status">
                    {% for tT_short, tT_name in taskTypes %}

                        {% if task.type.0 == tT_short %}
                        <option value="{{ tT_short }}" selected="selected">{{ tT_name }}</option>
                        {% else %}
                        <option value="{{ tT_short }}">{{ tT_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </section>
            <br />

<!--{% for tT_short, tT_name in taskTypes %}-->
    <!--{% if task.type.0 == tT_short %}T-->
    <!--{% else %}F{% endif %}-->
    <!--{{ tT_short }}-->
    <!--=={{ task.type.0 }} vs {{ tT_short }}==-->
    <!--<br />-->
<!--{% endfor %}-->

            <section class="data-section">
                <header>Deadline</header>
                <!--TODO datepicker-->
                <input id="task-deadline" type="date" name="task-deadline" value="{{ task.title|default:"" }}">
            </section>

            <section class="data-section">
                <header>Description</header>
                <textarea id="project-note" rows="3" name="task-note" placeholder="Add description..">{{ task.description|default:"" }}</textarea>
            </section>
        </div>
        <div class="right-cell">
            <ul id="details-list">
               <li class="details-list-item">
                    <p><b>Created by</b>
                    <br />
                    <span class="details-info">Aaa Bbbb</span></p>
                </li>
                <li class="details-list-item">
                    <p><b>Creation date</b>
                    <br />
                    <span class="details-info">05-05-2014</span></p>
                </li>
            </ul>
        </div>
    </section>

    <section class="data-section">
        <!--TODO when should show this person ? it is possible there is no person responsible-->
        <div id="view-header-right" class="clearfix">
            <div id="assign-person" class="task-button">
                Change assignment
            </div>
        </div>
        <header class="clearfix">Assign</header>
        {% if task.personResponsible %}
        <div id="assign-img-div">
             <p class="person-remove">
                    <!--TODO person remove from project-->
					<span class="glyphicon glyphicon-remove"></span>
				<p>
            <img id="assign-img" src="{{ STATIC_URL }}{{ task.personResponsible.avatarPath }}">
            {{ task.personResponsible.name }}&nbsp;{{ task.personResponsible.lastName }}
        </div>
        {% endif %}
    </section>

{% if not new_project %}

    <section class="data-section">
        <header>Files</header>
        <ul id="files-list" class="clearfix">

            {% for file in task.files %}
            <li class="files-list-item" data-type="{{file.type|lower}}">
                <!--TODO add some :hover, because there is a lot of confusion-->

                <!--icon-->
                {% if file.type == "Document" %}
                    <span class="glyphicon glyphicon-file"></span>
                {% else %}
                    {% if file.type == "Image" %}
                        <span class="glyphicon glyphicon-camera"></span>
                    {% else %}
                        {% if file.type == "Sound" %}
                            <span class="glyphicon glyphicon-music"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-paperclip"></span>
                        {% endif %}
                    {% endif %}
                {% endif %}

                 <!--file name-->
                <b>_{{ file.name }}_</b>
                <p class="person-remove">
					<span class="glyphicon glyphicon-remove"></span>
				<p>
            </li>
            {% endfor %}

        </ul>
    </section>

{% endif %}

    <!--save and back buttons-->
    <div class="task-button pull-left">
        Back
    </div>
    <div class="task-button pull-right">
        Save
    </div>
{% endblock %}