/* utils */

@font-face {
	font-family: JosefinSlabLight;
	src: url(JosefinSlabLight.ttf);
}
@font-face {
	font-family: NixieOne-Regular;
	src: url(NixieOne-Regular.otf);
}
@font-face {
	font-family: corbertregular;
	src: url('Corbert-Regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.clear {
	clear: both;
}
.black-overlay {
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
}
.hoverable {
	opacity: 0.93;
	transition: opacity 0.3s ease-out;
}
.hoverable:hover {
	opacity: 1;
}
/*
 * main
 */

#page-background {
	background: url('stub_imgs/img5.png') no-repeat center center fixed;
	background-size: cover;
	height: 100%;
}
#brand {
	font-family: corbertregular;
	font-size: 20px;
	line-height: 45px;
	text-align: center;
	height: inherit;
	float: left;
	background-color: #404040;
	position: relative;
}
.left-panel-size {
	width: 210px;
}
.ui-mid-gray {
	background-color: #484848;
	color: white;
}
#page-content {
	width: 1024px;
	margin: 0px auto;
	padding: 0px;
	height: inherit;
}
.ui-content-min-h {
	min-height: 500px;
}
/*
 * navigation bar - the one on the very top
 */

#navigation-bar {
	height: 50px;
	position: relative;
}
.navigation-bar-icon {
	float: right;
	height: inherit;
	font-size: 40px;
	width: 54px;
	text-align: center;
	top: 0px !important;
	cursor: pointer;
	color:white !important;
}
#navigation-bar-logout {
	background-color: hsl(0, 91%, 70%);
}
#navigation-bar-settings {
	background-color: hsl(170, 52%, 54%);
	height: 100%;
}
#navigation-avatar {
	/*background: url('stub_imgs/avatar2.jpg');*/
	background-size: cover;
}
/*
 * navigation panel - the one on the left
 */

#navigation-panel {
	float: left;
	display: inline-block;
/*	border-right: 1px solid #999894;*/
}
.navigation-button {
	padding: 7px 20px;
	font-size: 17px;
	opacity: 0.9;
	transition: opacity 0.3s ease-out;
	transition: background-color 0.5s ease-out;
	position: relative;
	cursor: pointer;
	color: white;
}
.navigation-button:hover {
	background-color: rgba(0, 0, 0, 0.3);
	background-color: hsla(0, 91%, 70%, 0.8);
	opacity: 1;
}
.navigation-button.active {
	background-color: hsl(31, 75%, 65%) !important;
}
.navigation-button.active:before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border-top: 28px solid transparent;
	border-bottom: 28px solid transparent;
	border-left: 28px solid hsl(31, 69%, 57%);
	bottom: 0px;
	right: -28px;
}
.navigation-button:hover:before {
	opacity: 1;
	border-left: 28px solid hsl(20, 10%, 65%);
}
.navigation-panel-icon {
	margin-right: 10px;
	font-size: 28px;
}
.navigation-button label {
	position: relative;
	top: -5px;
	font-weight: normal;
	cursor: pointer;
}
.navigation-button p {
	/* the small number near the right edge of the button */
	position: absolute;
	width: 25px;
	height: 25px;
	line-height: 25px;
	top: 14px;
	right: 9px;
	font-size: 12px;
	border-radius: 25%;
	text-align: center;
}
.navigation-button-color {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 7px;
	height: 100%;
}
#color-strip-dashboard {
	background-color: hsl(86, 52%, 65%);
	border-right: 1px solid hsl(86, 71%, 68%);
}
#color-strip-projects {
	background-color: hsl(31, 75%, 65%);
	border-right: 1px solid hsl(31, 75%, 68%);
}
#color-strip-tasks {
	background-color: hsl(215, 57%, 65%);
	border-right: 1px solid hsl(215, 57%, 68%);
}
#color-strip-friends {
	background-color: hsl(45, 87%, 57%);
	border-right: 1px solid hsl(45, 87%, 68%);
}


/*
 * content
 */

#main-panel {
	overflow: hidden;
	background-color: #f2f2f0;
	height: inherit;
}
#view-header {
	color: #6b6a66;
	font-family: corbertregular;
	padding: 9px 25px;
	background-color: #f7f6f2;
	width: inherit;
	border-bottom: 1px solid #d5d4d0;
	font-size: 2em;
	border-top:7px solid hsl(31, 75%, 65%);
}
#view-title {
	margin-left: 12px;
}



#center-content {
	padding: 0px 17px 70px !important;
	position: relative;
}
